@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  font-family: Source Sans Pro;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.logo {
  width: 80px;
  top: 0;
  left: 50%;
  position: absolute;
  margin-top: 40px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner #text {
  font-size: 12em;
  position: relative;
  color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: BerkShire Swash;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: animate calc(3s* var(--i)) linear infinite;
          animation: animate calc(3s* var(--i)) linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.container {
  margin: 0;
}

section {
  position: relative;
  padding: 75px 0px;
  max-width: 700px;
  margin: 0 auto;
  z-index: 2;
  font-size: 18px;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

section p {
  line-height: 1.8;
  margin-top: 20px;
}

section img {
  max-width: 700px;
  margin: 30px auto 0px;
}

section .caption {
  font-size: 14px;
  font-style: italic;
}

.share {
  width: 700px;
  background: #f3f3f3;
  margin: 0 auto;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share h4 {
  color: #444;
}

.shareDiv {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icons-container {
  margin: 20 0px;
}

.socialIcons {
  cursor: pointer;
  font-size: 20px;
  padding-right: 20px;
}

.goToTop {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topBtn {
  background: none;
  border: 2px solid #00a0dc;
  padding: 10px 12px;
  border-radius: 50%;
  color: #00a0dc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.topBtn:hover {
  background-color: #00a0dc;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 60vh;
  }
  .banner .logo {
    left: 43%;
    margin-top: 30px;
  }
  .banner #text {
    font-size: 10em;
  }
  .container section {
    padding: 60px 30px;
  }
  .container section img {
    width: 100%;
    margin: 30px 0px 10px 0;
  }
  .share {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 50vh;
  }
  .banner .logo {
    width: 50px;
    margin-top: 20px;
  }
  .banner #text {
    font-size: 6em;
  }
}
/*# sourceMappingURL=style.css.map */