@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Global Styling */

* {
	font-family: Source Sans Pro;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

/* Banner Area */

.logo {
	width: 80px;
	top: 0;
	left: 50%;
	position: absolute;
	margin-top: 40px;
}

.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner #text {
	font-size: 12em;
	position: relative;
	color: #fff;
	z-index: 1;
	display: flex;
	font-family: BerkShire Swash;
}

.banner .clouds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner .clouds img {
	position: absolute;
	bottom: 0;
	max-width: 100%;
	animation: animate calc(3s* var(--i)) linear infinite;
}

/* Cloud Animation */

@keyframes animate {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

/* Content */

.container {
	margin: 0;
}

section {
	position: relative;
	padding: 75px 0px;
	max-width: 700px;
	margin: 0 auto;
	z-index: 2;
	font-size: 18px;
	background-color: #fff;
}

section h2 {
	font-size: 4em;
	margin-bottom: 20px;
	color: #444;
}

section .lead {
	font-weight: light;
	font-size: 1.5em;
	color: #aaa;
	border-left: 8px solid #aaa;
	padding: 0 10px;
}

section p {
	line-height: 1.8;
	margin-top: 20px;
}

section img {
	max-width: 700px;
	margin: 30px auto 0px;
}

section .caption {
	font-size: 14px;
	font-style: italic;
}

.source {
	font-size: 16px;
}

.source a {
	text-decoration: none;
	color: #00a0dc;
}

/* Share Section */

.share {
	width: 700px;
	background: #f3f3f3;
	margin: 0 auto;
	padding: 40px;
	display: flex;
	justify-content: space-between;
}

.share h4 {
	color: #444;
}

.shareDiv {
	align-self: center;
}

.icons-container {
	margin: 20 0px;
}

.socialIcons {
	cursor: pointer;
	font-size: 20px;
	padding-right: 20px;
}

.goToTop {
	align-self: center;
}

.topBtn {
	background: none;
	border: 2px solid #00a0dc;
	padding: 10px 12px;
	border-radius: 50%;
	color: #00a0dc;
	transition: 0.5s;
	cursor: pointer;
}

.topBtn:hover {
	background-color: #00a0dc;
	color: #fff;
}

/* Mobile CSS */

@media only screen and (max-width: 768px) {
	.banner {
		height: 60vh;
		.logo {
			left: 43%;
			margin-top: 30px;
		}
		#text {
			font-size: 10em;
		}
	}
	.container {
		section {
			padding: 60px 30px;
			img {
				width: 100%;
				margin: 30px 0px 10px 0;
			}
		}
	}
	.share {
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	.banner {
		height: 60vh;
		.logo {
			width: 50px;

			margin-top: 20px;
		}
		#text {
			font-size: 6em;
		}
	}
}
